/* Header.css */
.header {
  padding: 1.3rem;
  border-bottom: 1px solid var(--background-kinda-dark);
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(13px);
  display: flex;
  align-items: center;
}

.header-title {
  color: var(--accent-light);
  font-weight: bold;
  font-size: 1.55rem;
  margin: 0;
  padding-top: 1rem,
}

.expand-btn {
  background: transparent;
  border: none;
  color: var(--accent);
  font-size: 1.4rem;
  cursor: pointer;
  margin-right: 1rem;
  transition: transform 0.3s ease;
}

.expand-btn:hover {
  transform: scale(1.1);
}

.expand-icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.3s ease;
}

.api-keys-btn {
  position: absolute;
  right: 1.5rem;
  background: transparent;
  color: var(--surface);
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.api-keys-btn:hover {
  color: var(--highlight-color);
  transform: scale(1.05);
}